@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    @apply w-screen h-screen bg-gray-800 grid grid-cols-5 grid-rows-12 gap-12;
}

/* Table Styling */
/* :root {
    --background-color: #272932;
    --text-color: #FAE8EB;
    --accent-one: #00A7E1;
    --accent-two: #FF9B42;
}

.stat h3 {
    font-size: 1.2rem;
    color: var(--accent-two);
}

.stat-table {
    border-collapse: collapse;
    min-width: 100%;
    font-size: 1rem;
    color: white;
    box-shadow: inset 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 6px 6px 0 0;
}

.stat-table thead tr {
    background-color: var(--accent-two);
    color: black;
    text-align: center;
    font-weight: bold;
}

.stat-table th,
.stat-table td {
    font-size: 0.9rem;
    padding: 8px 12px;
}

.stat-table tbody tr {
    border-bottom: 1px solid var(--accent-two);
}

.stat-table tbody td {
    text-align: center;
    border-right: 1px solid var(--accent-two);
}

.stat-table .icon {
    padding: 0px 0px;
    display: flex;
    justify-content: center;
}

.stat-table tbody img {
    width: 42px;
    height: 42px;
}

.stat-container .stat-table {
    margin-bottom: 24px;
}

.hidden {
    display: none;
} */